body {
    background-color: #fff;
    font-family: 'Nanum Gothic Coding', monospace;
    padding: 30px; 
}

a{ color: #000 }
a:hover{
    text-decoration: none;
}
.h3, h3 {
    font-family: 'Actor', monospace;
    font-size: 16px;
}
small,
.font_small {
    font-size: 0.707em;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
    background: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 100px;
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0);
    min-height: 10px;
}

::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(0, 0, 0, 0.61);
    -webkit-border-radius: 100px;
}

.inprogress {
    border-bottom: 1px solid #ccc;
}

.finished {
    text-decoration: line-through;
    border-bottom: 1px solid #ccc;
}

#editor {
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    width: 300px;
    padding: 10px;
}

.note-editor.note-frame {
    border: none;
}

[data-target="#summernote_modal"] {
    position: fixed;
    bottom: 20px;
    left: 20px;
    border-radius: 50%;
    padding: 10px;
    width: 65px;
    height: 65px;
    font-size: 30px;
}

.note-editor.note-frame .note-statusbar {
    background: #fff;
}

.note-popover .popover-content,
.card-header.note-toolbar {
    background: #fff;
    border-bottom: 1px solid #e9ecef;
}

.note-btn {
    background: #fff;
    border: 0;
    padding: 5px 10px;
}

.ml-3,
.mx-3 {
    max-width: 180px;
}

.bookmarks-items {
    padding-left: 0;
    padding-right: 0;
    border: none;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.bookmarks-items h4 {
    margin-top: 0;
}

.thumbnail-img {
    display: block;
    border: 1px solid #ececec;
    width: 120px;
    height: 120px;
    background-size: cover, auto;
    background-position: 50% 50%, 50% 50%;
    opacity: .75;
}
.thumbnail {
  position: relative;
    width: 100%;
    height: 300px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.search-container {
    padding: 0;
    border: none;
    padding-bottom: 10px;
}

.search-container input {
    border: none;
    border-bottom: 1px solid #ececec;
    border-radius: 0;
    padding-left: 1px;
}
.note-editor.note-frame .note-editing-area {
    margin-top: 50px;
}
.form-control{
    background-color: #efefef;
    border: none;
}
.selectize-input {
    border: none;
    background: #efefef;
}
.selectize-control.multi .selectize-input> div {
    background: #007bff !important;
    color: #fff !important;
}
.articles .thumbnail {
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    border-radius: .25rem;
}
.articles{
  margin-bottom: 15px;
  position: relative;
}
.articles:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 100%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid #ccc; /* This creates the border. Replace black with whatever color you want. */
}
article{
    height: 300px;
}
.description{
    color: #5d5d5d;
    height: 10.2em;
    line-height: 1.2em;
    overflow: hidden;
    padding-bottom: 30px;
}
.searching{
    margin-bottom: 30px;
}
.preview img{
    width: 100%;
}
article .option {
    position: absolute;
    bottom: 15px;
    right: 0;
    font-weight: bold;
    color: #ccc;
}
article .dropdown-toggle::after {
border: none;
display: none;
}
article .dropdown-menu.show{
    padding: 15px;
}