body {
    background-color: #fff;
    font-family: 'Nanum Gothic Coding', monospace;
    padding: 30px;
    color: rgba(0,0,0,0.8);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

a{ color: #000 }
a:hover{
    text-decoration: none;
}
.h3, h3 {
    font-family: 'Actor', monospace;
    font-size: 16px;
}
small,
.font_small {
    font-size: 0.707em;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
    background: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 100px;
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0);
    min-height: 10px;
}

::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(0, 0, 0, 0.61);
    -webkit-border-radius: 100px;
}

.inprogress {
    border-bottom: 1px solid #ccc;
}

.finished {
    text-decoration: line-through;
    border-bottom: 1px solid #ccc;
}

#editor {
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    width: 300px;
    padding: 10px;
}

.note-editor.note-frame {
    border: none;
}

[data-target="#summernote_modal"] {
    position: fixed;
    bottom: 20px;
    left: 20px;
    border-radius: 50%;
    padding: 10px;
    width: 65px;
    height: 65px;
    font-size: 30px;
}

.note-editor.note-frame .note-statusbar {
    background: #fff;
}

.note-popover .popover-content,
.card-header.note-toolbar {
    background: #fff;
    border-bottom: 1px solid #e9ecef;
}

.note-btn {
    background: #fff;
    border: 0;
    padding: 5px 10px;
}

.ml-3,
.mx-3 {
    max-width: 180px;
}

.bookmarks-items {
    padding-left: 0;
    padding-right: 0;
    border: none;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.bookmarks-items h4 {
    margin-top: 0;
}

.thumbnail-img {
    display: block;
    border: 1px solid #ececec;
    width: 120px;
    height: 120px;
    background-size: cover, auto;
    background-position: 50% 50%, 50% 50%;
    opacity: .75;
}
.thumbnail {
  position: relative;
    width: 100%;
    height: 300px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.search-container {
    padding: 0;
    border: none;
    padding-bottom: 10px;
}

.search-container input {
    border: none;
    border-bottom: 1px solid #ececec;
    border-radius: 0;
    padding-left: 1px;
}
.note-editor.note-frame .note-editing-area {
    margin-top: 50px;
}
.form-control{
    background-color: #efefef;
    border: none;
}
.selectize-input {
    border: none;
    background: #efefef;
}
.selectize-control.multi .selectize-input> div {
    background: #007bff !important;
    color: #fff !important;
}
.articles .thumbnail {
    width: 100%;
    height: 200px;
    background-size: cover !important;
    opacity: 0.5;
}
.articles{
  margin-bottom: 15px;
  position: relative;
}
.description{
    color: #5d5d5d;
    height: 10.2em;
    line-height: 1.2em;
    overflow: hidden;
    padding-bottom: 30px;
}
.searching{
    margin-bottom: 30px;
}
.preview img{
    width: 100%;
}
.articles .option {
    position: absolute;
    top: 0;
    right: 15px;
    background: none;
}
.articles .option button {
    background: none;
    color: #fff;
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0;
    font-size: 30px;
    border-radius: 0;
}
.articles .option button span {
    margin-top: -15px;
    display: block;
}
.articles .dropdown-toggle::after {
border: none;
display: none;
}
.articles .dropdown-menu.show{
    padding: 15px;
}

.snip1529 {
  background-color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  text-align: left;
  border-radius: 0.25rem;
  width: 100%;
}

.snip1529 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1529 img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
  opacity: 0.75;
}

.snip1529 figcaption {
  padding: 25px 20px 25px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.snip1529 .date {
  background-color: #fff;
  color: #333;
  font-size: 12px;
  font-weight: 800;
  min-height: 40px;
  min-width: 30px;
  padding: 5px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: 0;
}

.snip1529 .date span {
  display: block;
  line-height: 14px;
}

.snip1529 .date .month {
  font-size: 11px;
}

.snip1529 h3,
.snip1529 p {
  margin: 0;
  padding: 0;
}

.snip1529 h3 {
  font-weight: 800;
  letter-spacing: -0.4px;
}

.snip1529 .hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  background-color: rgba(236, 188, 46, 0.75);
  display: flex;
  font-size: 65px;
  justify-content: center;
  opacity: 0;
}

.snip1529 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

button:focus {
outline: none;
}


/*.snip1529:hover .hover,
.snip1529.hover .hover {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  opacity: 1;
}

.snip1529:hover figcaption,
.snip1529.hover figcaption {
  opacity: 0;
}

.snip1529:hover .date,
.snip1529.hover .date {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
*/